@import url('https://fonts.googleapis.com/css?family=Orbitron');
.MMM-NBA .wrapper{
  text-align: justify;
  width: 450px;
}
.MMM-NBA .header {
  color: #fff;
  text-align: right;
}
.MMM-NBA .font {
	font-family: 'Orbitron', sans-serif;
}
.MMM-NBA .status {
  font-family: 'Orbitron', sans-serif;
  color: #ee0000;
  font-size: 18px;
}
.MMM-NBA .table {
    border-spacing: 10px 0;
    border-collapse: separate;
    text-align: center;
}

.MMM-NBA .icon {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.MMM-NBA .row {
    vertical-align: middle;
}

.MMM-NBA img {
    max-height: 25px;
    max-width: 25px;
}

.MMM-NBA .hometeam {
  color: #e4e4e4;
  font-size: 16px;
}
.MMM-NBA .awayteam {
  color: #e4e4e4;
  font-size: 16px;
}
.MMM-NBA .logo {
	height: 25px;
	width: 25px;
}
.MMM-NBA .preview {
	color: #e4e4e4;
}
